In [6]:
import pandas as pd

lappis_data = pd.read_csv('../extract_contributions/contributors_summary_lappis.csv')
eps_data = pd.read_csv('../extract_contributions/contributors_summary_eps_mds.csv')

def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)  
    IQR = Q3 - Q1 
    upper_bound = Q3 + 1.5 * IQR  
    cleaned_df = df[df[column] <= upper_bound]
    return cleaned_df

lappis_cleaned = remove_outliers(lappis_data, 'contributions')
eps_cleaned = remove_outliers(eps_data, 'contributions')

lappis_cleaned, eps_cleaned

(                  user  contributions  repositories  primary_language  \
 0                 User              1            11                 C
 1          davidCarlos             22            24            Python
 2        StrangeUnit28            278            15            Python
 3          MaiconMares            441            41        JavaScript
 4   PauloGoncalvesLima            202            26            Python
 ..                 ...            ...           ...               ...
 74          RochaCarla             71            36              HTML
 75          laurapinos             36            21            Python
 76       ArturVinicius             44            26            Python
 77             edudsan             37            17              HTML
 78        leomichalski            250            64  Jupyter Notebook

                                 monthly_contributions  \
 0   {'2023-06': 0, '2023-07': 0, '2023-08': 0, '20...
 1   {'2023-06': 0, '2023-07': 0, '2023-08': 0, '20...
 2   {'2023-06': 105, '2023-07': 57, '2023-08': 1, ...
 3   {'2023-06': 34, '2023-07': 74, '2023-08': 30, ...
 4   {'2023-06': 39, '2023-07': 34, '2023-08': 4, '...
 ..                                                ...
 74  {'2023-06': 3, '2023-07': 0, '2023-08': 3, '20...
 75  {'2023-06': 0, '2023-07': 1, '2023-08': 0, '20...
 76  {'2023-06': 0, '2023-07': 0, '2023-08': 2, '20...
 77  {'2023-06': 21, '2023-07': 1, '2023-08': 0, '2...
 78  {'2023-06': 6, '2023-07': 17, '2023-08': 15, '...

                                    contribution_types
 0   {'commits': 1, 'pull_requests': 0, 'issues': 0...
 1   {'commits': 22, 'pull_requests': 0, 'issues': ...
 2   {'commits': 207, 'pull_requests': 20, 'issues'...
 3   {'commits': 106, 'pull_requests': 16, 'issues'...
 4   {'commits': 79, 'pull_requests': 2, 'issues': ...
 ..                                                ...
 74  {'commits': 40, 'pull_requests': 1, 'issues': ...
 75  {'commits': 29, 'pull_requests': 4, 'issues': ...
 76  {'commits': 37, 'pull_requests': 4, 'issues': ...
 77  {'commits': 34, 'pull_requests': 2, 'issues': ...
 78  {'commits': 200, 'pull_requests': 19, 'issues'...

 [66 rows x 6 columns],
                    user  contributions  repositories  primary_language  \
 0                  User              1            11                 C
 1           Juhvitoria4             69             9            Python
 3             thiagompc            458            45            Python
 4              senaarth            614            38        TypeScript
 5              flaviovl             63            46            Python
 ..                  ...            ...           ...               ...
 498            CaioSulz             10            11  Jupyter Notebook
 499  fernandes-natanael            486            53            Python
 500          WolffStein             51            10  Jupyter Notebook
 501         DaviMarinho            320            35                 C
 502             art1505            188            37            Python

                                  monthly_contributions  \
 0    {'2023-06': 0, '2023-07': 0, '2023-08': 0, '20...
 1    {'2023-06': 5, '2023-07': 2, '2023-08': 9, '20...
 3    {'2023-06': 73, '2023-07': 36, '2023-08': 0, '...
 4    {'2023-06': 146, '2023-07': 189, '2023-08': 99...
 5    {'2023-06': 2, '2023-07': 18, '2023-08': 0, '2...
 ..                                                 ...
 498  {'2023-06': 0, '2023-07': 0, '2023-08': 2, '20...
 499  {'2023-06': 41, '2023-07': 45, '2023-08': 0, '...
 500  {'2023-06': 0, '2023-07': 3, '2023-08': 0, '20...
 501  {'2023-06': 2, '2023-07': 2, '2023-08': 14, '2...
 502  {'2023-06': 4, '2023-07': 1, '2023-08': 5, '20...

                                     contribution_types
 0    {'commits': 1, 'pull_requests': 0, 'issues': 0...
 1    {'commits': 56, 'pull_requests': 3, 'issues': ...
 3    {'commits': 90, 'pull_requests': 3, 'issues': ...
 4    {'commits': 255, 'pull_requests': 6, 'issues':...
 5    {'commits': 61, 'pull_requests': 0, 'issues': ...
 ..                                                 ...
 498  {'commits': 7, 'pull_requests': 1, 'issues': 0...
 499  {'commits': 370, 'pull_requests': 38, 'issues'...
 500  {'commits': 45, 'pull_requests': 3, 'issues': ...
 501  {'commits': 179, 'pull_requests': 27, 'issues'...
 502  {'commits': 158, 'pull_requests': 10, 'issues'...

 [453 rows x 6 columns])

In [12]:
import pandas as pd
from sklearn.utils import resample

# Assumindo que lappis_cleaned e eps_cleaned já estejam carregados

# Obter o tamanho do dataframe menor (lappis_cleaned)
lappis_size = len(lappis_cleaned)

# Subamostrar aleatoriamente o dataframe eps_cleaned para igualar ao tamanho do lappis_cleaned
eps_balanced = resample(eps_cleaned, 
                        replace=False,    # Sem substituição
                        n_samples=lappis_size,  # Igualar ao tamanho do lappis_cleaned
                        random_state=42)  # Reprodutibilidade

# Exibir os dataframes balanceados
print(f"Tamanho original do EPS Cleaned: {len(eps_cleaned)}")
print(f"Tamanho original do LAPPIS Cleaned: {lappis_size}")
print(f"Tamanho do EPS Balanceado: {len(eps_balanced)}")

# Retornar os dataframes
lappis_cleaned

Tamanho original do EPS Cleaned: 453
Tamanho original do LAPPIS Cleaned: 66
Tamanho do EPS Balanceado: 66

,user,contributions,repositories,primary_language,monthly_contributions,contribution_types
0,User,1,11,C,"{'2023-06': 0, '2023-07': 0, '2023-08': 0, '20...","{'commits': 1, 'pull_requests': 0, 'issues': 0..."
1,davidCarlos,22,24,Python,"{'2023-06': 0, '2023-07': 0, '2023-08': 0, '20...","{'commits': 22, 'pull_requests': 0, 'issues': ..."
2,StrangeUnit28,278,15,Python,"{'2023-06': 105, '2023-07': 57, '2023-08': 1, ...","{'commits': 207, 'pull_requests': 20, 'issues'..."
3,MaiconMares,441,41,JavaScript,"{'2023-06': 34, '2023-07': 74, '2023-08': 30, ...","{'commits': 106, 'pull_requests': 16, 'issues'..."
4,PauloGoncalvesLima,202,26,Python,"{'2023-06': 39, '2023-07': 34, '2023-08': 4, '...","{'commits': 79, 'pull_requests': 2, 'issues': ..."
...,...,...,...,...,...,...
74,RochaCarla,71,36,HTML,"{'2023-06': 3, '2023-07': 0, '2023-08': 3, '20...","{'commits': 40, 'pull_requests': 1, 'issues': ..."
75,laurapinos,36,21,Python,"{'2023-06': 0, '2023-07': 1, '2023-08': 0, '20...","{'commits': 29, 'pull_requests': 4, 'issues': ..."
76,ArturVinicius,44,26,Python,"{'2023-06': 0, '2023-07': 0, '2023-08': 2, '20...","{'commits': 37, 'pull_requests': 4, 'issues': ..."
77,edudsan,37,17,HTML,"{'2023-06': 21, '2023-07': 1, '2023-08': 0, '2...","{'commits': 34, 'pull_requests': 2, 'issues': ..."
78,leomichalski,250,64,Jupyter Notebook,"{'2023-06': 6, '2023-07': 17, '2023-08': 15, '...","{'commits': 200, 'pull_requests': 19, 'issues'..."

In [10]:
lappis_summary = lappis_cleaned.describe()

eps_summary = eps_cleaned.describe()

display(lappis_summary, eps_summary)

       contributions  repositories
count      66.000000     66.000000
mean      148.984848     30.136364
std       140.143936     24.602618
min         0.000000      0.000000
25%        31.500000     11.250000
50%       108.000000     25.500000
75%       229.750000     38.500000
max       633.000000    111.000000

       contributions  repositories
count     453.000000    453.000000
mean      200.200883     26.275938
std       184.379699     19.215851
min         0.000000      0.000000
25%        62.000000     11.000000
50%       149.000000     23.000000
75%       275.000000     36.000000
max       783.000000    138.000000

In [11]:
import pandas as pd

# Função para calcular as estatísticas e criar um DataFrame com os resultados
def calculate_statistics(df, group_name):
    stats = {
        'Metric': ['Number of Students', 
                   'Average Contributions', 
                   'Standard Deviation of Contributions', 
                   'Median Contributions', 
                   'Maximum Contributions', 
                   'Average Number of Repositories', 
                   'Standard Deviation of Repositories', 
                   'Median Number of Repositories', 
                   'Maximum Number of Repositories'],
        
        group_name: [
            len(df),  # Número de estudantes
            df['contributions'].mean(),  # Média de contribuições
            df['contributions'].std(),  # Desvio padrão das contribuições
            df['contributions'].median(),  # Mediana das contribuições
            df['contributions'].max(),  # Máximo de contribuições
            df['repositories'].mean(),  # Média de repositórios
            df['repositories'].std(),  # Desvio padrão dos repositórios
            df['repositories'].median(),  # Mediana de repositórios
            df['repositories'].max()  # Máximo de repositórios
        ]
    }
    
    return pd.DataFrame(stats)

lappis_stats = calculate_statistics(lappis_cleaned, 'Regular Students')
eps_stats = calculate_statistics(eps_balanced, 'Laboratory Students')

final_stats = pd.merge(lappis_stats, eps_stats, on='Metric')

print(final_stats)

                                Metric  Regular Students  Laboratory Students
0                   Number of Students         66.000000            66.000000
1                Average Contributions        148.984848           149.272727
2  Standard Deviation of Contributions        140.143936           138.138007
3                 Median Contributions        108.000000           114.000000
4                Maximum Contributions        633.000000           518.000000
5       Average Number of Repositories         30.136364            22.621212
6   Standard Deviation of Repositories         24.602618            13.815003
7        Median Number of Repositories         25.500000            20.000000
8       Maximum Number of Repositories        111.000000            59.000000